*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: inherit;
}

:root {
    --off-white: #e5e7eb;
    --bg-color: #f7f7f7;
    --theme: #BBA6A7;
    font-size: 16px;
}

@font-face {
    font-family: "Norse Bold";
    src: url(Assets/Norse-Bold.woff) format("woff");
}

#container {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
}

#side {
    height: min(30vh, 12rem);
    text-align: center;
    background-image: url("Assets/aaron-burden-QJDzYT_K8Xg-unsplash.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    border-bottom: 0.5rem solid var(--off-white);
}

#side>header {
    font-family: "Norse Bold", monospace;
    font-size: 4rem;
    margin-top: clamp(0.5rem, 5vh, 10rem);
    width: 100%;
    background-color: #362e2e38;
    line-height: 1.5;
}

#side> :last-child {
    position: absolute;
    width: 100%;
    bottom: 0.2rem;
    background: linear-gradient(to left, #362e2e38, #00000000);
    text-align: right;
    line-height: 1.1;
    padding-right: 2ch;
}

#main {
    font-family: 'Courier New', Courier, monospace;
    padding: min(5rem, 3vh) min(2rem, 5vw);
    background-color: var(--bg-color);
}

#main>p {
    font-weight: bold;
    font-size: 1.2rem;
}

#main>p+p {
    margin-top: min(5rem, 3vh);
}

#form-collection {
    --vertical-margin: 5rem;
    --line-margin: calc(var(--vertical-margin) / 2);
    --secondary-box-shadow-margin: calc(var(--line-margin) / 2);
    margin: var(--vertical-margin) 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow:
        -0.5rem 0 0 var(--line-margin) white,
        0 var(--secondary-box-shadow-margin) 0.5rem var(--secondary-box-shadow-margin) gray;
}

#form-collection>header {
    font-weight: bold;
    font-size: 1.2rem;
}

#form-collection>.form-control {
    display: flex;
    flex-direction: column;
    margin-top: calc((var(--vertical-margin) - 1rem)/ 2);
    font-family: inherit;
}

.form-control>input {
    width: 95%;
    border-radius: 0.2em;
    border: 1px solid var(--off-white);
    margin-top: 0.2rem;
    font-size: inherit;
    line-height: 2;
    padding-left: 1ch;
}

.form-control>input:active,
.form-control>input:focus,
.form-control>input:focus-visible {
    border: 1px solid hsl(212, 100%, 49%);
    box-shadow: 0 0 0.2rem gray;
    outline: none;
    padding-left: 1ch;
}

button[type="submit"] {
    padding: 1rem 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--bg-color);
    background-color: var(--theme);
    box-shadow: 0 0 0.5rem gray;
    outline: none;
    border: none;
    border-radius: 0.5em;
    margin-top: -1rem;
}

.form-control {
    position: relative;
}

.form-control .invalid-input {
    border: 1px solid red;
}

.form-control .error {
    position: absolute;
    color: red;
    top: 3.7rem;
    width: 30ch;
}


#main> :last-child {
    font-weight: normal;
    font-size: 1rem;
    margin-top: 1.5rem;
}

#main>:last-child>a {
    color: var(--theme);
    text-decoration: none;
    font-weight: bolder;
}

@media screen and (min-width: 768px) {
    body {
        background-color: var(--theme);
    }

    #container {
        flex-direction: row;
        justify-content: center;
    }

    #side {
        height: max(100vh, 45rem);
        width: clamp(10rem, 40%, 35rem);
        border-bottom: none;
        border-right: 0.5rem solid var(--off-white);
    }

    #side>header {
        margin-top: min(20vh, 20rem);
    }

    #main {
        width: min(60%, 45rem);
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    #form-collection {
        --vertical-margin: 5rem;
        flex-flow: row wrap;
    }

    #form-collection>header,
    #form-collection>p {
        width: 100%;
    }

    #form-collection>.form-control {
        width: 50%;
    }
}